
.main-upper {
    background-color:#2F303A; 

}
h1 {
    color: #ffffff;
}


/* style portfolio.css  !!!*/

a {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
}
.logoweb{
    color:#2196F3;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}
.logostudio{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    }

.site-nav {
    color: #212121;
    font-family: 'Roboto' ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav:hover,
.site-nav:focus {
    color: #2196F3;
}


.contact {
color: #757575;
text-decoration: none;
font-family: 'Roboto' ,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.contact:hover,
.contact:focus
 {
    color: #2196F3;
}

.btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.btn:hover,
.btn:focus {
    background-color: #2196F3;
}



.images h3{
    font-family: 'Roboto' ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}

.images p {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;

}



.down {
    background-color:#2F303A; 
}
.place {
    color:#ffffff;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.mail {
    color: rgba(255, 255, 255, 0.6) ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.telephone {
   color: rgba(255, 255, 255, 0.6) ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}